# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environment
venv/
env/
ENV/

# Secrets
.streamlit/secrets.toml
.env

# FAISS index files 
# store/  # For deployment only- needed for Streamlit Cloud
vector_store/
# *.bin   #  Needed only for deployment for Streamlit Cloud
# *.pkl   #  Needed only for deployment for Streamlit Cloud
*.index

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
